#create a form for the booking
<%= simple_form_for([@boat, @booking]) do |f| %>

  <%= f.input :start_date %>
  <%= f.input :end_date %>

<div class="container">
   <h3 class="my-3">Boat Description</h3>
        <p><%= @boat.description %></p>
        <br>
    <!-- Portfolio Item Row -->
<div class="row">
  

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos.first.key, height: 300, width: 500, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos.first.key, height: 300, width: 500, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos.first.key, height: 300, width: 500, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos.first.key, height: 300, width: 400, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>>
            </a>
      </div>
        
</div>
         <ul>
          <li><p ><%= @boat.address %></p></li>
          <li><p><%= @boat.category %></p></li>
          <li><p><%= @boat.price_per_day %></p></li>
          <li><p><%= @boat.user.first_name %> <%= @boat.user.last_name %></p></li>
        </ul>
<br>
   <%= f.submit %>
<% end %>


                
  