
<div class="hero-full-screen">


<div class="top-content-section">


  <div class="middle-content-section">
    <h1>Rent-A-Boat</h1>
    <h3>The best solution for your boat rental </h3>
    <section id="hero">
    <% if user_signed_in? %>
      <p> Hi <%= current_user.first_name %></p>  
    <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
        <%= link_to "Browse boats", boats_path, class: "btn btn-alert" %>
      </section>
  </div>

<br><br>

<div class="text-center">
 <%= form_tag boats_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a boat by Name, description, or location."
  %>
  <br>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
 
  <div id="main-content-section" data-magellan-target="main-content-section">
  <!-- your content goes here -->
  


  