<div class="container form-group">
<%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.label :photo %>
   <%= f.input :photos, as: :file, input_html: {multiple: true} %>
  <%= f.input :description %>
  <%= f.label :category %>
  <%= f.select :category, ['Yacht', 'Wind', 'Small'] %>
  <%= f.input :address %>
  <%= f.input :price_per_day, step: 0.01 %>

  
   
  <%= f.submit %>
<% end %>

</div>