<h1 class="text-center">Boats list</h1>


<div class="container border">
  
  <ul class="list-group cards">
    <% @boats.each do |boat| %>
      <% if boat.photo.attached?  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photo.key, height: 300, crop: :fill %>')" >
          <li class="boat-group-item, text-center" style="color: white "> <%= link_to boat.name, boat_path(boat), {:style=>'color:white; '} %> <br><%= boat.location %> <br><%= boat.price_per_day %> €</li>
        </div>
      <% else  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1510525009512-ad7fc13eefab?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9hdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80')" >
         <li class="boat-group-item, text-center" style="color: white "> <%= link_to boat.name, boat_path(boat), {:style=>'color:white; '} %> <br><%= boat.location %> <br><%= boat.price_per_day %> €</li>
        </div>
      <% end %>
      

      <br>
    <% end %>
  </ul>

</div>
<%= link_to "Add new boat", new_boat_path %>



