<div class="container form">
<%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, multiple: true %>
  <%= f.input :description %>
  <%= f.label :category %>
  <%= f.select :category, ['Large boat', 'Medium boat', 'Small boat'] %>
  <%= f.input :address %>
  <%= f.input :price_per_day, step: 0.01 %>

  
   
  <%= f.submit %>
<% end %>

</div>