
<div class="top-boats-page">
<br>
  <h1><%= @boat.name %></h1>
</div>

<!-- Page Content -->
<div class="container">
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <%= cl_image_tag @boat.photos.first.key, height: 500, width: 750, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Boat Description</h3>
        <p><%= @boat.description %></p>
        <br>
        <h3 class="my-3">Boat Details</h3>
                
      <br>
        
        <ul>
          <li><p ><%= @boat.address %></p></li>
          <li><p><%= @boat.category %></p></li>
          <li><p><%= @boat.price_per_day %></p></li>
          <li><p><%= @boat.user.first_name %> <%= @boat.user.last_name %></p></li>
          <%= link_to "Book now", new_boat_booking_path(@boat), class: "btn btn-primary" %>
        </ul>
      </div>
          

  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Boat pictures</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4 rounded-10">
        <a href="#">
              <%= cl_image_tag @boat.photos[1].key, height: 300, width: 500, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos[2].key, height: 300, width: 500, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos[3].key, height: 300, width: 500, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <%= cl_image_tag @boat.photos[4].key, height: 300, width: 400, crop: :fill, class: "w-100 shadow-1-strong rounded mb-8" %>>
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->



</div>

  <div class="d-flex justify-content-between actions">
    <small class="text-right flex-shrink-0"><%= link_to 'Delete', boat_path, method: :delete, data: { confirm: "Are you sure you want to remove #{@boat.name} from your #{@boat.name} boat"}, class: "btn btn-danger" %></small>
    <small class="text-right flex-shrink-0"><%= link_to 'Edit', edit_boat_path(@boat), class: "btn btn-primary" %></small>
    <small class="text-right flex-shrink-0"><%= link_to 'Back to list', boats_path, class: "btn btn-primary" %></small>
  </div>

  <div class="map-container"><div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
 

