
<div class="top-boats-page">
<br>
  <h1><%= @boat.name %></h1>
</div>
<div class="container-perso ">

<div class="boat-content">  
  <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>
<div class="content">  <p class="p-big"><%= @boat.description %></p>
  <p class="p-medium"><%= @boat.address %></p>


  <p class="p-small"><%= @boat.price_per_day %></p>
  </div>
  <%= link_to "Book now", new_boat_booking_path(@boat) %>
</div>

  <div class="d-flex justify-content-between actions">
    <small class="text-right flex-shrink-0"><%= link_to 'Delete', boat_path, method: :delete, data: { confirm: "Are you sure you want to remove #{@boat.name} from your #{@boat.name} boat"}, class: "btn btn-danger" %></small>
    <small class="text-right flex-shrink-0"><%= link_to 'Edit', edit_boat_path(@boat), class: "btn btn-primary" %></small>
    <small class="text-right flex-shrink-0"><%= link_to 'Back to list', boats_path, class: "btn btn-primary" %></small>
  </div>

  <div class="map-container"><div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
 

